@import "../../styles/animation.scss";

.upload-file-wrapper {
  .upload-file-trigger {
    display: block;

    .upload-file-btn {
      height: 36px;
      width: 36px;
      background-color: var(--primary);
      color: white;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}
